* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

#invitation, #confirmation {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

article {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem
}

h1 {
    width: fit-content;
    display: flex;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: black;
    background-color: #FFFFFF;
    padding: 1rem 2rem;
    border-radius: 1rem;
}

.image {
    width: 20rem;
    height: 25rem;
    border-radius: 2rem;
    background-image: url("./img/cutegif.gif");
    background-position: center;
    background-size: cover;
}

.image2 {
    width: 20rem;
    height: 25rem;
    border-radius: 2rem;
    background-image: url("./img/cutegif2.gif");
    background-position: center;
    background-size: cover;
}

.btns {
    position: relative;
    display: flex;
    justify-content: space-between;
}

button {
    padding: 1rem 3rem;
    border: none;
    border-radius: 10px;
}

#yessir {
    cursor: pointer;
    margin-left: 13rem;
    background-color: #FFF;
    transition: 0.3s all ease-in-out;
    font-weight: bold;
    font-size: 24px;
    z-index: 5;
    background-color: deeppink;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#nooo {
    cursor: pointer;
    position: absolute;
    left: 0;
    transition: 0.2s all ease-in-out;
    font-weight: bold;
    font-size: 24px;
}

#yessir:hover {
    background-color: hotpink;
}

p {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 2rem;
    background-color: #FFFFFF;
    padding: 1rem 2rem;
    border-radius: 1rem;
}